html, body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

#app {
  width: 960px;
  margin: auto;
}

#app h1 {
  text-align: center;
}

.hidden {
  display: none;
}
