html, body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #23c1e8;
}

a:visited {
  color: rgb(0, 0, 238);
}

* {
  box-sizing: border-box;
}

#app {
  width: 960px;
  margin: auto;
  background-color: white;
  padding: 10px;
}

#app h1 {
  text-align: center;
  margin: 0;
  font-weight: normal;
}

#app.tutorial button {
  margin: 0 20px;
}

#app.settings button {
  margin: 20px 0 0;
}

#app.settings {
  font-size: 18px;
}

#app.settings label {
  user-select: none;
}

#app.settings label[for]:hover {
  cursor: pointer;
}

#app.tutorial .already-know {
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

#app.tutorial .already-know > div {
  padding: 10px 0;
}

.back-button {
  position: absolute;
  top: 2px;
  color: blue;
  text-decoration: underline;
}
.back-button:hover {
  cursor: pointer;
}

button {
  padding: 10px;
  font-weight: bold;
  background-color: #23c1e8;
  border: none;
  color: white;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #039BE5;
}

button:hover {
  cursor: pointer;
}

ol {
  font-size: 20px;
}

label {
  margin-right: 10px;
}

.url-link {
  width: 100%;
  padding: 4px 2px;
  background-color: #efefef;
  overflow-x: scroll;
  resize: none;
  word-wrap: break-word;
  overflow: auto;
  margin-top: 20px;
  height: 100px;
}

.avatar-wrapper a {
  display: block;
}

.avatar-wrapper img {
  display: inline-block;
  padding: 5px 0;
}

.about {
  margin-top: 40px;
  text-align: center;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
