html, body {
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Anton', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #00ff00;
  overflow: hidden;
}

.donation-alert {
  text-align: center;
  color: white;
  text-shadow:
       3px 3px 0 #23c1e8,
     -1px -1px 0 #23c1e8,
      1px -1px 0 #23c1e8,
      -1px 1px 0 #23c1e8,
       1px 1px 0 #23c1e8;
}

.donation-alert.hidden {
  opacity: 0;
}

.donation-alert img {
  width: 250px;
}

.donation-alert-text {
  font-size: 48px;
  width: 70%;
  margin: auto;
}

.donation-alert-message {
  font-size: 32px;
  width: 70%;
  margin: auto;
}

.donation-alert.fade {
  animation-name: fade;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1.0;
  }
  90% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

.donation-alert.slide {
  animation-name: slide;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0%);
  }
  90% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.donation-alert.swing {
  animation-name: swing;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  transform-origin: top;
}

@keyframes swing {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  10% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  90% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
}

.donation-alert.drop {
  animation-name: drop;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(-5%);
  }
  90% {
    opacity: 1;
    transform: translateY(5%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.donation-alert.newspaper {
  animation-name: newspaper;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
}

@keyframes newspaper {
  0% {
    opacity: 0;
    transform: scale(0.0) rotate(0deg);
  }
  10% {
    opacity: 1;
    transform: scale(1.0) rotate(1080deg);
  }
  90% {
    opacity: 1;
    transform: scale(1.0) rotate(1080deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.0) rotate(1080deg);
  }
}

.donation-alert.lightspeed {
  animation-name: lightspeed;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  transform-origin: bottom;
}

@keyframes lightspeed {
  0% {
    opacity: 0;
    transform: translateX(200%) skew(-10deg);
  }
  10% {
    opacity: 1;
    transform: translateX(0) skew(10deg);
  }
  12% {
    opacity: 1;
    transform: translateX(0) skew(-5deg);
  }
  15% {
    opacity: 1;
    transform: translateX(0) skew(0deg);
  }
  90% {
    opacity: 1;
    transform: translateX(0) skew(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-200%) skew(-20deg);
  }
}
